 
.rating {
    display: flex;
    font-size: 2rem;
    cursor: pointer;
 }
  
.star {
    color: #cdcdcd;
    transition: color 0.2s;
}
  
.star.filled {
    color: #ffbf00;
}
img{
    width: 300px;
    height: 300px;
}
  